body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #2c3e50;
}

ul {
    list-style-type: square;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 10px;
}
